html { 
	margin-top: 0px !important;
	height: 100% !important; }

.single-valuator {
	height: 100% !important; }

.single-valuator #page #header,
.single-valuator hr,
.single-valuator #footer {
	display: none; }

.single-valuator #page {
	height: 100%; }

.valuation-page {
	background-color: rgba(0,0,0,0.6);
	margin-top: 0px !important;
	padding-top: 7%;
	height: 100%;
	overflow-x: hidden !important; }
	.valuation-page h3, 
	.valuation-page h4,
	.valuation-page .h3, 
	.valuation-page .h4 {
		font-family: 'Roboto', arial, sans-serif !important; }
	.valuation-page .well {
		background: rgba(31, 51, 64, 0);
		padding: 30px;
		border: 0px;
		border-radius: 9px;
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px; }
	.valuation-page h4 {
		font-size: 40px;
		color: #FFF;
		font-weight: 500;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
		-webkit-font-smoothing: antialiased;
		margin-bottom: 5px; }
		.valuation-page h4.thank-you {
			font-size: 70px;
			margin-bottom: 0px;
			color: #ec6952; }
	.valuation-page h3 {
		text-align: center;
		line-height: 1.5;
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 20px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale; }
	.valuation-page label, 
	.valuation-page h3 {
		color: #fff;
		-webkit-opacity: 0.7;
		-moz-opacity: 0.8;
		opacity: 0.7; }
		.valuation-page h3.step-two-subtitle {
			font-size: 23px;
			margin-bottom: 10px;
			opacity: 1;
			-webkit-opacity: 1;
			-moz-opacity: 1; }
			.valuation-page h3.step-two-subtitle strong {
				color: #ec6952; }
		.valuation-page h3.step-three-subtitle {
			text-align: center;
			font-weight: 300;
			font-size: 27px;
			-webkit-font-smoothing: antialiased;
			opacity: 1;
			-webkit-opacity: 1;
			-moz-opacity: 1; }
	.valuation-page input[type="text"].form-control, 
	.valuation-page input[type="email"].form-control {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		height: 45px;
		display: block;
		width: 100%;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #eee;
		border-radius: 4px;
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
		.valuation-page input[type="text"].form-control::-webkit-input-placeholder {
		  color: #a6a6a6; }
		.valuation-page input[type="text"].form-control:-moz-placeholder {
		  color: #a6a6a6; }
		.valuation-page input[type="text"].form-control::-moz-placeholder {
		  color: #a6a6a6; }
		.valuation-page input[type="text"].form-control:-ms-input-placeholder {
		  color: #a6a6a6; }
		.valuation-page input[type="text"].form-control:focus {
		  border-color: #a6a6a6;
		  -webkit-box-shadow: none;
		  -moz-box-shadow: none;
		  box-shadow: none;}
	.valuation-page .btn-primary {
		font-size: 18px;
		background: #ec6952;
		border: 2px solid #ec6952;
		color: #fff;
		padding: 8px 30px;
		border-radius: 4px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		font-weight: bold;
		font-family: 'Roboto', arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale; }
		.valuation-page .btn-primary:hover,
		.valuation-page .btn-primary:active {
			background: #e9553b;
			border: 2px solid #e9553b; }
	.valuation-page .valuation-value {
		text-align: center; }
		.valuation-page .valuation-value h4 {
			color: #00B4FF;
			font-size: 45px;
			margin-bottom: 0px; }
			.valuation-page .valuation-value h4 small {
				color: #00B4FF; }
		.valuation-page .valuation-value p {
			color: #fff;
			font-size: 17px; }
	.valuation-page .page-media {
		margin-bottom: 30px; }
	.valuation-page .page-text {
		color: #fff;
		font-size: 17px;
		margin-bottom: 15px; }
	.valuation-page .footer {
		text-align: center;
		color: #fff;
		position: absolute;
		bottom: 20px;
		width: 100%;
		font-weight: 300;
		font-size: 12px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); }

#map_canvas {
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
	height: 300px;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	height:100%;
	width:100%;
	border:0 }
.embed-responsive .embed-responsive-16by9 {
	padding-bottom:56.25% }
.embed-responsive .embed-responsive-4by3 {
	padding-bottom:75% }
	
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
	background-color: #e8e8e8 !important; }